<!---#################################
  HOME EXTENSION
################################## -->


<div id="yadaText">
  <div class="content-text">
    <button class="left-button" ng-click="scrollLeft()" type="button" name="scrollLeft">
      <img src="assets/arrow.png" alt="" />
    </button>
    <h2 class="content-yadaText">{{yadas[yadaScrollIndex].content}}</h2>
    <button class="right-button" ng-click="scrollRight()" type="button" name="scrollRight">
      <img src="assets/arrow.png" alt="" />
    </button>
  </div>

  </br>
  <h5 class="author-yadaText">author: <span>{{yadas[yadaScrollIndex].user.username}}</span> </h5>

  <div class="karma-box">

    <button ng-click="upIt(yadas[yadaScrollIndex])" class="up-home" type="button" name="up">
        <img ng-show="userVotingState.Status === 3 || userVotingState.Status === 2" class="up-jelly" src="assets/yada-jelly-up.svg" alt="" />
        <img ng-show="userVotingState.Status === 1" class="up-jelly" src="assets/yada-jelly-up-active.svg" alt="" />
    </button>
    <div class="karma-label">
      Karma
      <span class="karma-home"><b>{{yadas[yadaScrollIndex].karma}}</b></span>
    </div>


    <button ng-click="downIt(yadas[yadaScrollIndex])" class="down-home" type="button" name="up">
        <img ng-show="userVotingState.Status === 3 || userVotingState.Status === 1"  class="up-jelly" src="assets/yada-jelly-down.svg" alt="" />
        <img ng-show="userVotingState.Status === 2"  class="up-jelly" src="assets/yada-jelly-down-active.svg" alt="" />
    </button>


  </div>
</div>
