<!---#################################
  YADA EXTENSION INDEX
################################## -->

<!DOCTYPE html>
<html ng-app="YadaExtension">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Yada</title>


    <!-- SCRIPTS -->
    <!-- AngularJS core -->
    <script src="js/angular.min.js"></script>
    <!-- Angular cookie wrapper library for client cookies -->
    <script src="js/angular-cookies.min.js"></script>
    <!-- Angular's Router Library for SPA -->
    <script src="js/angular-route.min.js"></script>
    <!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
    <script src="js/angular.storage.min.js"></script>
    <!-- Angular wrapper library for JWT-->
    <script src="js/angular-jwt.min.js"></script>
    <!-- GSAP animation library-->
    <script src="js/TweenMax.min.js"></script>
    <!-- GSAP draggable library-->
    <script src="js/Draggable.min.js"></script>

    <!-- LINKS -->
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <!-- MAIN -->
    <section id="mainBox" class="main-container">

      <!-- ANGULAR VIEWS -->
      <main class="main-view" ng-view>



      </main>

      <!-- NAVIGATION -->
      <nav id="navBox" class="bottom-nav" ng-controller="NavExtController">
        <span class="username-nav" ng-show="logStatus.status">Welcome, {{user.username}}</span>

        <ul>
          <li><a href="#/">home</a></li>
          <li ng-show="logStatus.status">
            <a href="#/editor">editor</a>
           </li>
          <li id='log'>
              <a ng-show="!logStatus.status" href="#/log-in">Login</a>
              <a ng-click="logout()" ng-show="logStatus.status" href="#/">Logout</a>
            </li>
          <li><a ng-click="toWebsite()" href="#">Website</a></li>
        </ul>
      </nav>

    </section>

    <!-- MY SCRIPTS [angular app] -->
    <script src="ext.js" charset="utf-8"></script>
  </body>
</html>
