.editor-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  .yada-scrape {
    width: 50vh;
  }
  .yada-editor {
    width: 100%;
    flex-direction: column;
    display: flex;
    #editorText {
      height: 100%;
      max-height: 50vh;
      position: fixed;
      width: 40%;
    }
    .post-button {
      width: 39%;
      height: 50px;
      position: fixed;
      bottom: 154px;
    }
  }
}
