.editor-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  // flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  .yada-scrape {
    width: 50%;
    height: 250px;
    border-right: 3px solid $black;
    overflow: scroll;
    position: relative;
  }
  .yada-editor {

    width: 50%;
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: flex-bottom;
    .editor-text {
      height: 100%;
    }
    .post-button {
      width: 100%;
      height: 50px;
    }
    .char-count {
      text-align: center;
      font-size: 1.5em;
      height: 50px;
      margin: 0 auto;
      width: 100%;
      background-color: $white;
    }
  }
}
