.content-text {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s ease;
  h2 {
    margin: 20px;
    font-size: 2.4vw;
    &::first-letter {
      font-size: 200%;
    }
  }
  img {
    height: 20px;
  }
  button {
    background: transparent;
    border: none;
  }
  .right-button img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

.author-yadaText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  span {
    font-size: 1.5em;
  }
}
.karma-label {
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.2vw;
}
.karma-home {
  font-size: 3.5vw;
  text-align: center;
}
.karma-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  margin: 30px auto;
  margin-bottom: 60px;
  button {
    background: transparent;
    border: none;
  }
}

.up-jelly, .down-jelly {
  height: 100px;
  width: 100px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
