<!---#################################
  EDITOR TEMPLATE
################################## -->

<section class="editor-wrapper">
    <div class="yada-scrape">
      <p class="scrapeFrag" ng-repeat="p in scrapedText track by $index">
        {{p}}
      </p>
    </div>

    <div class="yada-editor">
      <textarea id="editorText" ng-model="editorText" name="editor" placeholder="yada yada..."></textarea>
      <button class="post-button" ng-click="postIt()" type="button" name="button">post</button>
    </div>

</section>
