<!---#################################
  HOME EXTENSION
################################## -->


<div id="yadaText">
  <div class="content-text">
    <button class="left-button" ng-click="scrollLeft()" type="button" name="scrollLeft">
      <img src="assets/arrow.png" alt="" />
    </button>
    <h2 class="content-yadaText">{{yadas[yadaScrollIndex].content}}</h2>
    <button class="right-button" ng-click="scrollRight()" type="button" name="scrollRight">
      <img src="assets/arrow.png" alt="" />
    </button>
  </div>

  </br>
  <h5 class="author-yadaText">author: <span>{{yadas[yadaScrollIndex].user.username}}</span> </h5>

  <div class="karma-box">


    <span class="karma-home"><b>karma: {{yadas[yadaScrollIndex].karma}}</b></span>
    <span class="test">Yada id: <span ng-model="yadaId">{{yadas[yadaScrollIndex].id}}</span></span>

    <button ng-click="upIt(yadas[yadaScrollIndex])" class="up-home" type="button" name="up"> ^
        <!-- <img ng-show="!voted" class="up-jelly" src="assets/yada-jelly-up.svg" alt="" /> -->
    </button>
    <button ng-click="downIt(yadas[yadaScrollIndex])" class="down-home" type="button" name="up"> v
        <!-- <img ng-show="!voted"  class="up-jelly" src="assets/yada-jelly-down.svg" alt="" /> -->
    </button>

    <!-- <span ng-repeat="join in filterJoins = ( userVotingState | filter:{theYadaId: yadas[yadaScrollIndex].id})" class="test">
      <p ng-hide="filterJoins.length">
        nothing to show!
      </p>
      <button ng-click="upIt(yadas[yadaScrollIndex])" class="up-home" type="button" name="up">

          <img ng-hide="filterJoins.length" class="up-jelly" src="assets/yada-jelly-up.svg" alt="" />

          <img ng-show="join.upvoted === false || join.downvoted === true"  class="up-jelly" src="assets/yada-jelly-up.svg" alt="" />
          <img ng-show="join.upvoted === true && join.downvoted === false"  class="up-jelly active-jelly" src="assets/yada-jelly-up-active.svg" alt="" />
      </button>
      id: {{join.theYadaId}}
      upvoted: {{join.upvoted}}
      downvoted: {{join.downvoted}}
      <button ng-click="downIt(yadas[yadaScrollIndex])" class="down-home" type="button" name="up">

          <img ng-hide="filterJoins.length"  class="up-jelly" src="assets/yada-jelly-down.svg" alt="" />

          <img ng-show="join.downvoted === false || join.upvoted === true"  class="down-jelly" src="assets/yada-jelly-down.svg" alt="" />
          <img ng-show="join.downvoted === true && join.upvoted === false"  class="down-jelly active-jelly" src="assets/yada-jelly-down-active.svg" alt="" />
      </button>
    </span> -->

  </div>
</div>
