


<div id="yadaText">
  <div class="content-text">
    <button class="left-button" ng-click="scrollLeft()" type="button" name="scrollLeft">
      <img src="assets/arrow.png" alt="" />
    </button>
    <h2 class="content-yadaText">{{yadas[yadaScrollIndex].content}}</h2>
    <button class="right-button" ng-click="scrollRight()" type="button" name="scrollRight">
      <img src="assets/arrow.png" alt="" />
    </button>
  </div>
  </br>
  <h5>author: <span class="author-yadaText">{{yadas[yadaScrollIndex].user.username}}</span> </h5>
  <div class="karma-box">
    <button ng-click="upIt(yadas[yadaScrollIndex])" class="up-home" type="button" name="up">
      ^ <!-- <img src="assets/arrow.png" alt="" /> -->
    </button>
    <span class="karma-home">karma: {{yadas[yadaScrollIndex].karma}}</span>
    <button ng-click="downIt(yadas[yadaScrollIndex])" class="down-home" type="button" name="down">
      v <!-- <img src="assets/arrow.png" alt="" /> -->
    </button>
  </div>
</div>
