<!---#################################
  YADA EXTENSION INDEX
################################## -->

<!DOCTYPE html>
<html ng-app="YadaExtension">
  <head>
    <meta charset="utf-8">
    <title>Yada</title>

    <!-- SCRIPTS -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/TweenMax.min.js"></script>

    <!-- LINKS -->
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <!-- MAIN -->
    <section class="main-container">

      <!-- ANGULAR VIEWS -->
      <main class="main-view" ng-view>



      </main>

      <!-- NAVIGATION -->
      <nav class="bottom-nav" ng-controller="NavExtController">
        <ul>
          <li><a href="#/">home</a></li>
          <li>
            <a ng-show="!logStatus.status" href="#/log-in">login to create your own Yada</a>
            <a ng-show="logStatus.status" href="#/editor">editor</a>
           </li>
          <li id='log'>
              <a ng-show="!logStatus.status" href="#/log-in">Login</a>
              <a ng-click="logout()" ng-show="logStatus.status" href="#/">Logout</a>
            </li>
          <li><a ng-click="toWebsite()" href="#">The Yada Website</a></li>
        </ul>
      </nav>

    </section>

    <!-- MY SCRIPTS [angular app] -->
    <script src="ext.js" charset="utf-8"></script>
  </body>
</html>
