/*******************************
* Variables
********************************/
/* Main Primary color */
/* Main Secondary color (1) */
/* white */
/* black */
.login-button {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
  border: 1px solid #171126;
  border-radius: 3px;
  padding: 0;
  cursor: pointer; }
  .login-button:hover {
    box-shadow: inset 0 2px 2px 3px rgba(0, 0, 0, 0.3); }

.views {
  display: flex;
  flex-direction: row; }

.rolo-search-container {
  margin-left: 340px; }

#fakeHeight {
  height: 6000px;
  width: 1px; }

.rolo-wrapper {
  width: 50%;
  height: 300px;
  margin-left: 35%;
  top: 10%;
  left: 0;
  position: fixed;
  -webkit-font-smoothing: antialiased; }
  .rolo-wrapper .slide-wrapper {
    display: block;
    z-index: 900;
    width: 500px;
    height: 50px;
    left: 200px;
    margin-top: 376px;
    position: fixed;
    transform: rotate(90deg); }
    .rolo-wrapper .slide-wrapper #progressSlider {
      width: 400px;
      height: 100px;
      position: fixed; }

#rolodex {
  list-style-type: none;
  top: 0;
  height: 300px;
  position: absolute; }

#rolodex li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  padding-left: 20px;
  width: 60vw;
  height: 230px;
  background: white;
  box-shadow: 10px 0 15px 5px rgba(0, 0, 0, 0.2);
  color: #171126;
  border-radius: 20px;
  overflow: hidden; }
  #rolodex li a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold; }
    #rolodex li a:visited {
      color: #171126; }
    #rolodex li a:hover {
      color: red !important; }
  #rolodex li .rolo-item-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
    background: #FFEB00;
    border-left: 3px solid #171126;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; }
    #rolodex li .rolo-item-btn h5 {
      margin: 5px;
      border: 2px solid #171126;
      background-color: white;
      border-radius: 5px;
      text-align: center;
      padding: 3px; }
    #rolodex li .rolo-item-btn button {
      margin: 5px;
      border: 2px solid white;
      background-color: #171126;
      color: #FFEB00;
      border-radius: 5px;
      text-align: center;
      padding: 3px;
      cursor: pointer; }

.toggle-wrapper {
  display: flex;
  flex-direction: column; }

.yadas-home {
  opacity: 0;
  height: 0px; }

.header-home {
  z-index: 10;
  width: 100%;
  position: fixed; }
  .header-home .timeline {
    display: flex;
    align-items: baseline;
    margin-left: 30px; }
    .header-home .timeline button {
      background-color: transparent;
      border: 2px solid #171126;
      font-size: 2em;
      border-radius: 10px;
      margin-left: 5px; }
      .header-home .timeline button:hover {
        background-color: rgba(255, 255, 255, 0.3); }
  .header-home .rolo-btn {
    font-family: serif; }
    .header-home .rolo-btn:hover {
      cursor: pointer; }

.searchBox {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  margin-left: 20px; }
  .searchBox input {
    box-sizing: border-box;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.2);
    border: none; }
  .searchBox button {
    width: 100%;
    background-color: #FFEB00;
    border: 3px solid #171126;
    text-align: left;
    font-size: 1.5em;
    padding-left: 30%; }
    .searchBox button:hover {
      cursor: pointer;
      border: 1px solid #171126;
      font-size: 1.7em; }

.filterBox {
  width: 100%;
  margin-left: 30px;
  height: 50px;
  display: flex;
  align-items: flex-end; }
  .filterBox span {
    background: transparent;
    border: none;
    font-size: 2em; }
  .filterBox button {
    background: transparent;
    border: none;
    font-size: 2em; }
    .filterBox button:hover {
      text-decoration: underline;
      cursor: pointer; }

.quick-wrapper {
  position: fixed;
  background: linear-gradient(to right, white, transparent);
  height: 100vh;
  z-index: 100;
  font-size: 1em;
  overflow: scroll;
  width: 360px;
  display: flex;
  border-right: 3px solid #171126; }
  .quick-wrapper .quick-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .quick-wrapper .quick-list button {
      width: 300px;
      height: 60px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #171126;
      box-shadow: 15px 0px 12px -4px rgba(0, 0, 0, 0.2); }
      .quick-wrapper .quick-list button:hover {
        cursor: pointer; }
    .quick-wrapper .quick-list .quickie {
      font-family: 'Ubuntu', sans-serif; }
      .quick-wrapper .quick-list .quickie:hover {
        transform: translateX(20px);
        background-color: white;
        box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        border: none !important; }
      .quick-wrapper .quick-list .quickie:active {
        background-color: #FFEB00; }

/* custom input slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: transparent; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126;
  background: #99efff;
  border-radius: 1.3px;
  border: 0.2px solid #171126; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126;
  border: 1px solid #171126;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #99efff; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126;
  background: #99efff;
  border-radius: 1.3px;
  border: 0.2px solid #171126; }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126;
  border: 1px solid #171126;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointe #171126; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #99efff;
  border: 0.2px solid #171126;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126; }

input[type=range]::-ms-fill-upper {
  background: #99efff;
  border: 0.2px solid #171126;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #171126, 0px 0px 1px #171126;
  border: 1px solid #171126;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #99efff; }

input[type=range]:focus::-ms-fill-upper {
  background: #99efff; }

* {
  font-family: "Fugaz One", cursive; }

body {
  background-color: #99efff; }

.logo {
  width: 100px;
  height: 100px; }

.jumbo {
  display: inline-flex;
  justify-content: space-around;
  width: 100%; }

.views {
  overflow: scroll; }
