.logo {
  width: 100px;
  height: 100px; }

.link-home {
  background-color: #72E9FF; }
  .link-home a {
    font-size: 1.6em; }

.yadas-home {
  width: 80%;
  background-color: #E9E3CB; }

.yadas-home, .link-home {
  margin-right: 50px;
  border: 2px solid black;
  border-radius: 5px;
  color: #42222F;
  display: flex;
  flex-direction: column; }
  .yadas-home button, .link-home button {
    width: 50px; }

.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto; }
  .searchBox input {
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.5em; }
  .searchBox button {
    width: 100px;
    margin: 0 auto; }

.login-button {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0;
  cursor: pointer; }
  .login-button:hover {
    box-shadow: inset 0 2px 2px 3px rgba(0, 0, 0, 0.3); }
