<!---#################################
  HOME TEMPLATE
################################## -->

<ul>
    <li ng-repeat="links in topYadas">
          <span class="url-home">url: {{links.url}}</span>
          <p># of yada: {{links.numberOfYadas}}</p>
          <span class="votes-home">votes: {{links.totalVotes}}</span>
s
          <div class="yadas-home" ng-repeat="yada in links.yadaList">
            <span class="author-home">author: {{yada.user}}</span>
            <span class="content-home">content: {{yada.content}}</span>
            <button ng-click="upIt(yada)" class="up-home" type="button" name="up">up</button>
            <span class="karma-home">karma: {{yada.karma}}</span>
            <button ng-click="downIt(yada)" class="down-home" type="button" name="down">down</button>
          </div>
    </li>
</ul>
