<!---#################################
  HOME TEMPLATE
################################## -->

<!-- FITLER BUTTONS -->
<div class="filterBox">
  <button ng-click="hot()" type="button" name="hot">Hot</button>
  <button ng-click="controversial()" type="button" name="controversial">Controversial</button>
  <button ng-click="new()" type="button" name="new">New</button>
  <button ng-click="top()" type="button" name="top">Top</button>
</div>

<!-- SEARCH BOX -->
<div class="searchBox">
  <input class="search" ng-model="searchString" type="text" placeholder="Enter your search">
  <button ng-click="search(searchString)" type="button" name="search">Search</button>
</div>

<!-- LIST OF LINKS WRAPPER -->
<ul class="data-ctrl">

    <!-- LINKS -->
    <li ng-repeat="links in yadas">
          <div class="link-home">
              <a class="url-home" ng-href="{{links.url}}">{{links.title}}</a></br>

              <p># of yadas: {{links.yadaList.length}}</p>
          </div>

          <!-- YADAS -->
          <div class="yadas-home" ng-repeat="yada in links.yadaList">

            <span class="content-home">{{yada.content}}</span></br>
            <span class="author-home">author: <b>{{yada.user.username}}</b></span>

            <button ng-click="upIt(yada)" class="up-home" type="button" name="up">up</button>
            <span class="karma-home">karma: {{yada.karma}}</span>
            <button ng-click="downIt(yada)" class="down-home" type="button" name="down">down</button>
          </div>
    </li>
</ul>
