<!---#################################
  HOME TEMPLATE
################################## -->

<!-- QUICK LIST -->

<section class="quick-wrapper">
  <ol class="quick-list">
    <li class="quickie" ng-repeat="links in yadas | limitTo: 50 ">
      <button id="link-{{links.id}}" type="button" name="quick">{{links.title}}</button>
    </li>
  </ol>
</section>

<section class="rolo-search-container">

  <!-- HEADER -->
  <header class="header-home">

      <!-- SEARCH BOX -->
      <div class="searchBox">
        <input class="search" ng-model="searchString" type="text" placeholder="Type to Search">
        <button ng-click="search(searchString)" type="button" name="search">Click to Search</button>
      </div>

    <!-- FITLER BUTTONS -->
    <div class="filterBox">
      <!-- <span>Filter by =</span> -->
      <button id="hotLinks" ng-click="hot()" type="button" name="hot">Hot</button>
      <span> ::</span>
      <button id="contLinks" ng-click="controversial()" type="button" name="controversial">Controversial</button>
      <span> ::</span>
      <button id="newLinks" ng-click="new()" type="button" name="new">New</button>
      <span> ::</span>
      <button id="topLinks" ng-click="top()" type="button" name="top">Top</button>
    </div>

    <!-- TIMELINE CONTROLS -->
  <div class="timeline">
      <button class="rolo-btn" id="toggle">&#10226; &#10227;</button>
      <button class="rolo-btn" id="pause">&#10073;&#10073;</button>
      <button class="rolo-btn" id="resume">&#9654;</button>
  </div>

  </header>


  <!-- ROLODEX -->
  <section class="rolo-wrapper">
    <!-- SLIDER -->
    <div class="slide-wrapper">
      <input id="progressSlider" type="range" min="0" max="1" value="0" step="0.001" /><br>
    </div>

    <ul id="rolodex" class="links-list">

        <!-- LINKS -->
        <!-- ng-style="{bottom: 20 * $index + 'px', 'z-index': (cards.length - $index)}" -->
        <li class="box roloAnimation" ng-repeat="links in yadas | limitTo: 50"
            data-button="link-{{links.id}}"
            ng-class="{topLink: $index === 0}">
              <section class="toggle-wrapper">
                <!-- TITLE -->
                <div class="link-home" id="linkTitle-{{$index}}">
                    <a class="url-home" ng-href="{{links.url}}">{{links.title}}</a></br>
                    <p># of yadas: {{links.yadaList.length}}</p>
                </div>
                <!-- YADAS -->
                <div ng-show="isCollapsed[$index]" id="yada-{{$index}}" class="yadas-home">
                  <div class="yadas-content" ng-repeat="yada in links.yadaList | limitTo: 1">
                    <span class="content-home">{{yada.content}}</span></br>
                    <span class="author-home">author: <b>{{yada.user.username}}</b></span>
                  </div>
                </div>
              </section>

              <!-- li aside -->
              <div class="rolo-item-btn">
                  <h4># {{$index + 1}}</h4>
                  <h5>Karma </br><span>{{links.karma}}</span></h5>
                  <button ng-click="isCollapsed[$index]=!isCollapsed[$index]" id="toggleYada-{{$index}}" type="button" name="button" >Yada?</button>
              </div>
        </li>
    </ul>
  </section>

  <div id="fakeHeight"></div>

</section>
