<!---#################################
  LOGIN TEMPLATE
################################## -->

<h3>login page</h3>


  <div class="login">
        <div class="jumbotron">
      <h2 class="text-center"><img src="" alt="logo"></h2>
      <h2 class="text-center">Login</h2>
      <p class="text-center">{{message}}</p>
    </div>

    <div class="container">
      <div class="col-md-6 col-md-3">
        <div id="login-container">
          <!-- <form>
            <fieldset>
              <input class="form-control" type="text" name="user" ng-model="user" ng-disabled="loading" />
              <br>
              <input class="form-control" type="password" name="pass" ng-model="pass" ng-disabled="loading" />
              <br>
              <button class="btn btn-primary" type="submit" ng-disabled="loading" ng-click="login()">Login</button>
              <button class="btn btn-primary" type="submit" ng-disabled="loading" ng-click="signup()">Sign Up</button>
            </fieldset>
          </form> -->
          <button class="login-button" type="submit" ng-click="googleLogin()" name="button">Login with Google</button>
          <br/>
        </div>
      </div>
    </div>


  </div>
